<mat-card appearance="outlined">
    <mat-card-header class="insync-header">
        Facility List
        <span class="example-spacer"></span>
        <button type="button" (click)="add()" class="btn btn-link">{{'+ Add New Facility'}}</button>
    </mat-card-header>
    <mat-card-content>
        <app-table [rowData]="facilityList" [tablePaginationSettings]="tablePaginationSettings" 
        [isRefresh]="isRefresh" [allowMultiSelect]="true" (edit)="edit($event)" (view)="view($event)"
         [sqColumnDefinition]="columns">
      </app-table>
    </mat-card-content>
</mat-card>