<div mat-dialog-title>
    {{notify.notificationType == NotificationType.MasterData ? 'Master Data' : 'Report'}}
</div>
<mat-dialog-content>
    <ng-container *ngIf="notify.notificationType == NotificationType.MasterData; then data else generateReport">

    </ng-container>
    <ng-template #data>
        <!-- <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Frmn</th>
                    <th>Aspect</th>
                    <th>Indicator</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="masterData != null && masterData != undefined">
                    <td>{{masterData.id}}</td>
                    <td>{{masterData.frmn}}</td>
                    <td>{{masterData.aspect}}</td>
                    <td>{{masterData.indicator}}</td>
                </tr>
            </tbody>
        </table> -->
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <!-- <th>#</th> -->
                        <ng-container *ngFor="let item of tableHeader$ | async">
                            <th *ngIf="!['id', 'createdBy', 'createdOn', 'isActive', 'isDeleted', 'corpsId', 'divisionId'].includes(item)"
                                class="space">
                                {{ item }}
                            </th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of masterDataList$ | async; let i = index">
                        <ng-container *ngFor="let header of tableHeader$ | async">
                            <td *ngIf="!['id', 'createdBy', 'createdOn', 'isActive', 'isDeleted', 'corpsId', 'divisionId'].includes(header)"
                                class="space">
                                {{ item[header] }}
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>

    </ng-template>
    <ng-template #generateReport>
        <div class="row">
            <div class="col">
                Report Date : {{ report.reportDate | bisdefaultDate}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Report Title</mat-label>
                    <input matInput [(ngModel)]="report.reportTitle" readonly="{{true}}">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Report Type</mat-label>
                    <input matInput [(ngModel)]="report.reportType" readonly="{{true}}">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Date Range</mat-label>
                    <mat-date-range-input [rangePicker]="picker" [disabled]="true">
                        <input matStartDate [(ngModel)]="report.startDate">
                        <input matEndDate [(ngModel)]="report.endDate">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
        </div>
        <hr>

        <div class="row" *ngIf="(masterDataList$ | async)?.length > 0">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <ng-container *ngFor="let item of tableHeader$ | async">
                                <th *ngIf="!['id','status','userId','fmn', 'createdBy', 'createdOn', 'isActive', 'isDeleted', 'corpsId', 'divisionId'].includes(item)"
                                    class="space">
                                    {{ item }}
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of masterDataList$ | async; let i = index">
                            <!-- Checkbox for individual rows -->
                            <td>
                                <mat-checkbox></mat-checkbox>
                            </td>
                            <ng-container *ngFor="let header of tableHeader$ | async">
                                <td *ngIf="!['id','status','userId','fmn', 'createdBy', 'createdOn', 'isActive', 'isDeleted', 'corpsId', 'divisionId'].includes(header)"
                                    class="space">
                                    {{ item[header] }}
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field>
                    <mat-label>G1 Comment</mat-label>
                    <textarea readonly="{{true}}" matInput class="full-width text-area" [(ngModel)]="report.notes"></textarea>
                </mat-form-field>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <!-- File Input -->
                <input 
                  type="file" 
                  accept="image/*" 
                  #fileInput 
                  id="fileInput" 
                  hidden 
                  (change)="onFileSelect($event)" 
                  multiple 
                />
              
                <!-- Upload Button -->
                <div>
                  <label for="fileInput" class="btn-outline-primary fileUpload">
                    <mat-icon>file_upload</mat-icon>
                    <h6 style="margin: 0px;">Upload Images</h6>
                  </label>
                </div>
              
                <!-- Image Previews -->
                <div class="image-preview-container">
                  <div *ngFor="let image of selectedImages" class="image-preview">
                    <img [src]="image.url" [alt]="image.name" />
                    <span class="image-name">{{ image.name }}</span>
                  </div>
                </div>
              </div>
              
            <div class="col-md-12">
                <mat-form-field>
                    <mat-label>Add Comment</mat-label>
                    <textarea matInput class="full-width text-area"></textarea>
                </mat-form-field>
            </div>
        </div>
    </ng-template>



</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="btn btn-sm btn-warning" (click)="close()">Close</button>
        <button class="btn btn-sm fileUpload" *ngIf="notify.notificationType == NotificationType.MasterData" (click)="approved()">Approved</button>
        <button class="btn btn-sm fileUpload" *ngIf="notify.notificationType == NotificationType.GenerateReport" (click)="approved()">Submit</button>
    
</mat-dialog-actions>