<li class="nav-item dropdown">
    <button
      mat-icon-button (click)="getAllNotification($event,currentPage,notificationDropdown)"
      type="button"
      class="dropdown-toggle no-arrow" 
      data-bs-toggle="dropdown"
      aria-expanded="false">
      <mat-icon [matBadge]="allNotifications.length > 0 ? allNotifications.length : ''">
        notification_important
      </mat-icon>
    </button>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications" #notificationDropdown>
      <li class="dropdown-header">
        <span class="unreadCount">
          <b>{{ allNotifications.length }}</b> unread notifications
        </span>
        <span class="filter-unread">
          <!-- {{ 'ShowOnlyUnread' | translate }}
          <mat-slide-toggle (change)="filterUnread($event)">
          </mat-slide-toggle> -->
        </span>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <div class="notification-list">
        <div *ngFor="let item of allNotifications">
          <li
            class="notification-item"
            (click)="openNotification(item)"
            [ngClass]="{ 'dark-class': !item.isReaded }">
            <div>
              <h4>{{ item }}</h4>
              <!-- <p>{{ item.content }}</p> -->
              <!-- <p>{{ item.createdOn | timeDifference }}</p> -->
            </div>
            <ng-container *ngIf="item.isReaded; else unreadIcon">
              <i class="fa-solid fa-circle-dot text-success"></i>
            </ng-container>
            <ng-template #unreadIcon>
              <i class="fa-solid fa-circle-dot text-warning"></i>
            </ng-template>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
        </div>
        <li *ngIf="isNotifcationAlertMessage">
          <!-- {{ NotificationEmpty}} -->
        </li>
      </div>
      <li class="dropdown-footer">
        <!-- <a class="btn-link" (click)="getAllNotification($event, currentPage,undefined)">Show more notifications</a> -->
      </li>
    </ul>
  </li>


  