<!-- <BIS-dialog-title [dataObject]="masterData"></BIS-dialog-title> -->
<form [formGroup]="createData" (ngSubmit)="save()">
  <div mat-dialog-title>
    Add Master Data
  </div>
  <mat-dialog-content>
    <mat-horizontal-stepper [linear]="true" #stepper [selectedIndex]="currentStepIndex">
      <!-- Step 1: Aspect Dropdown -->
      <mat-step [stepControl]="createData">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Fmn</mat-label>
              <mat-select formControlName="frmn" (selectionChange)="onFilterChange($event)">
                @for (list of fmnList; track list) {
                <mat-option [value]="list">{{list}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Select date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="reportedDate">
              <mat-hint>(MM/DD/YYYY)</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Input Level</mat-label>
              <mat-select formControlName="inputLevel">
                <mat-option *ngFor="let item of inputLevels" [value]="item.name">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Sector</mat-label>
              <mat-select formControlName="sector">
                <mat-option *ngFor="let item of sectors" [value]="item.name">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Source</mat-label>
              <mat-select formControlName="source">
                <mat-option *ngFor="let item of sourceList" [value]="item.name">
                  {{ item.name }}
                </mat-option>

              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Source Loc</mat-label>
              <mat-select formControlName="sourceLoc">
                <mat-option *ngFor="let item of sourceLoc" [value]="item.name">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Type Of Loc</mat-label>
              <mat-select formControlName="typeOfLoc">
                <mat-option *ngFor="let item of typeOfLoc" [value]="item.name">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>En Loc Name</mat-label>
              <mat-select formControlName="enLocName">
                <mat-option *ngFor="let item of enemyLocations" [value]="item.name">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Aspect</mat-label>
              <mat-select (selectionChange)="getIndicator($event)" formControlName="aspect">
                <mat-option *ngFor="let option of aspectList" [value]="option.id">
                  {{ option.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div align="end">
          <button mat-button matStepperNext type="button">Next</button>
        </div> 
      </mat-step>
    
      <mat-step *ngIf="indicators.length > 0" [stepControl]="createData">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-label>Indicators</mat-label>
              <mat-select [(value)]="subselected" (selectionChange)="onChange2($event)" formControlName="indicator">
                <mat-option *ngFor="let indicator of indicators" [value]="indicator.name">
                  {{ indicator.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="dynamicFields.length > 0">
          <div class="row">
            <div class="col-md-4" *ngFor="let field of dynamicFields">
              <mat-form-field *ngIf="field.type === 'string'">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput [formControlName]="field.name" />
              </mat-form-field>
              <mat-form-field *ngIf="field.type === 'date'">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput [matDatepicker]="picker" [formControlName]="field.name" >
                <mat-hint>(MM/DD/YYYY)</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field *ngIf="field.type === 'time'">
                <mat-label>{{ field.label }}</mat-label>
                <input type="time" matInput [formControlName]="field.name">

              </mat-form-field>
              <mat-form-field *ngIf="field.type === 'number'">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput type="number" [formControlName]="field.name" />
              </mat-form-field>
            </div>
          </div>
        </div>
        
        <div *ngIf="dynamicDropdownOptions.length > 0">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field>
                <mat-label>{{ dynamicDropdownLabel }}</mat-label>
                <mat-select [formControl]="createData.get('dynamicDropdown')"
                  (selectionChange)="onDropdownSelectionChange($event)" [placeholder]="dynamicDropdownLabel">
                  <mat-option>--None--</mat-option>
                  <mat-option *ngFor="let option of dynamicDropdownOptions" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <!-- Render additional fields based on dropdown selection -->
        <div *ngIf="additionalFields.length > 0">
          <div class="row" *ngFor="let field of additionalFields">
            <div class="col-md-4">
              <mat-form-field *ngIf="field.type === 'string'">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput [formControlName]="field.name" />
              </mat-form-field>
              <mat-form-field *ngIf="field.type === 'time'">
                <mat-label>{{ field.label }}</mat-label>
                <input type="time" matInput [formControlName]="field.name">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div align="end">
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button type="submit">Save</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-dialog-content>
</form>
