<div class="form-container">
    <form [formGroup]="loginform" (ngSubmit)="proceedlogin()">
      <mat-card class="login-card">
        <div class="login-card-content">
          <!-- Left side for Image -->
          <div class="left-side">
            <img src="/projects/clerk/public/assets/ArmyImage.jpg" alt="Image" class="login-image" style="width: 200px; height: 200px;"/>
  
          </div>
  
          <!-- Right side for the form -->
          <div class="right-side">
            <mat-card-header>
              <div class="">
                <h2 class="brand-name">BATTLEFIELD INDICATOR</h2>
              </div>
            </mat-card-header>
  
            <mat-card-content>
              <!-- Email Field -->
             
  
              <!-- Password Field -->
              <div class="row">
                <mat-form-field class="password-field">
                  <mat-label>Password</mat-label>
                  <input
                    formControlName="password"
                    [type]="showPassword ? 'text' : 'password'"
                    matInput
                    placeholder="Enter your password"
                    required
                  />
                  <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                    <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                  </button>
                  <mat-error *ngIf="loginform.get('password')?.touched && loginform.get('password')?.invalid">
                    Password is required
                  </mat-error>
                </mat-form-field>
              </div>
  

              <!-- Confirm Password Field -->
              <div class="row">
                <mat-form-field class="password-field">
                  <mat-label> Confirm Password</mat-label>
                  <input
                    formControlName="confirmPassword"
                    [type]="showPassword ? 'text' : 'password'"
                    matInput
                    placeholder="Confirm your password"
                    required
                  />
                  <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                    <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                  </button>
                  <mat-error *ngIf="loginform.get('password')?.touched && loginform.get('password')?.invalid">
                    Password is required
                  </mat-error>
                </mat-form-field>
              </div>

              
            </mat-card-content>
  
            <mat-card-actions>
              
              <a routerLink="/auth/register" mat-raised-button color="accent">Confirm</a>
            </mat-card-actions>
  
            <mat-card-footer>
              <p class="register-link">
                Don’t have an account? 
                <a routerLink="/auth/register" class="font-bold text-primary">Register now!</a>
              </p>
            </mat-card-footer>
          </div>
        </div>
      </mat-card>
    </form>
  </div>
  
    