
.zipper-checkbox{
    max-width: fit-content;
}
 
 
.column-header-content{
    text-align: justify !important;
}
.example-container {
    height:  100vh;
    overflow: auto;
  }
   
//   .mat-mdc-header-cell, .mat-mdc-footer-cell, .mat-mdc-cell {
//      width: 100px!important;
//     box-sizing: border-box;
//   }
  
//   .mat-mdc-header-row, .mat-mdc-footer-row, .mat-mdc-row {
//     min-width: 1920px; /* 24 columns, 80px each */
//   }
   
  
   
  
  