<mat-card appearance="outlined">
    <mat-card-header class="insync-header">
        <div class="row full-width">
            <div class="col-sm-2">Notes List</div>
            <div class="col-sm-2 offset-md-6">Bulk</div>
            <!-- <div class="col-sm-2"><button class="btn btn-link" style="margin-left:50px" (click)="add()">+ Add Data</button></div> -->
        </div>
    </mat-card-header>
    <mat-card-content>
        <app-table [rowData]="notesForMeList" [tablePaginationSettings]="tablePaginationSettings" 
        [isRefresh]="isRefresh" [allowMultiSelect]="true"
         [sqColumnDefinition]="columns">
      </app-table>
      <br>
      <hr>
      <br>
      <app-table [rowData]="tasklist" [tablePaginationSettings]="tablePaginationSettings" 
        [isRefresh]="isRefresh" [allowMultiSelect]="true"
         [sqColumnDefinition]="columns">
      </app-table>
    </mat-card-content>
</mat-card>