

.card-container {
    display: flex;
    gap: 1rem;
  }
  .totals{
    text-align: center;
  }
  .card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card-small {
    width: 20%;
    height: 300px;
  }
  .card-equal {
    width: 25%;
    height: 300px;
  } 
  .card-large {
    width: 40%;
    height: 300px;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .adjust-font{
    font-size: 1rem !important;
  }
  .chart-container {
    flex-grow: 1;
    align-self: center;
    width: 100%;
    height: calc(100% - 80px); /* Subtract the space occupied by the title and footer */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent overflowing content */
  }
  
  .chart-container canvas {
    max-width: 100%;
    max-height: 100%; /* Ensure the chart doesn't exceed the container height */
    object-fit: contain;
  }
  
  .card-footer {
    margin-top: 1rem;
    height: 40px;
  }
  
  .card-footer ul {
    list-style: none;
    padding: 0;
  }
  
  .card-footer ul li {
    font-size: 0.9rem;
  }
  