.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f6fcff;
  }
  
  mat-card {
    width: 100%;
    max-width: 750px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  mat-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #ddfff2, #c3e9ff);
    border-radius: 16px 16px 0 0;
    padding: 20px 0;
  }
  
  .brand-logo-container {
    text-align: center;
  }
  
  .brand-logo {
    width: 150px;
    height: 150px;
  }
  
  .brand-name {
    font-size: 25px;
    font-weight: bold;
    color: #270944;
  }
  
  .login-card-content {
    padding: 20px;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .password-field {
    position: relative;
  }
  
  mat-icon {
    color: #0ac57e;
    font-size: 20px;
  }
  
  .forgot-password-link {
    text-align: right;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: space-between;
  }
  
  mat-card-footer {
    padding: 20px 0;
    text-align: center;
  }
  
  .register-link {
    font-size: 14px;
    color: #707070;
  }
  
  .register-link a {
    color: #0da0f7;
    text-decoration: underline;
  }

  .login-card-content {
    display: flex;
    width: 100%;
  }

  .left-side {
    flex: 1;
    background: #ddfff2; /* Set your background color or image */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
  }
  
  .right-side {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  